<div class="card">
  <div class="card-header">Cadastro de Restaurante</div>
  <div class="card-body">
    <form [formGroup]="formCadastro" *ngIf="restaurante">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="restaurante.nome" formControlName="nome" placeholder="Digite o nome do restaurante"
          required>
        <small *ngIf="submetido && f.nome.errors" class="form-text text-danger"> Nome obrigatório</small>
      </div>
      <button type="button" class="btn btn-second" [routerLink]="['/restaurante/']">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
    </form>
  </div>
</div>
